on:
  push:
    branches: [gh-cli]
jobs:  
  releaseDraft:
      name: Release Draft
      runs-on: ubuntu-latest
      steps:

        # Check out current repository
        - name: Checkout
          uses: actions/checkout@v3

        # Remove old release drafts by using the curl request for the available releases with draft flag
        - name: Remove Old Release Drafts
          env:
            GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          run: |
            gh api repos/adroaldoneto/gha-dispatch-event-initiator/releases \
              --jq '.[] | select(.draft == true) | .id' \
              | xargs -I '{}' gh api -X DELETE repos/adroaldoneto/gha-dispatch-event-initiator/releases/{}

        # Create new release draft - which is not publicly visible and requires manual acceptance
        - name: Create Release Draft
          env:
            GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          run: |
            jq -n \
            '{"tag_name":"v0.2.4","target_commitish":"gh-cli","name":"v0.2.4","draft":true,"prerelease":false,"generate_release_notes":true}' \
            | gh api -X POST /repos/adroaldoneto/gha-dispatch-event-initiator/releases --input -