on: [repository_dispatch]

# jobs:
#   expected-event:
#     runs-on: ubuntu-latest
#     if: github.event.action == 'Start Formula Workflow'
#     steps:
#       - name: Event Information
#         run: |
#           echo "Event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'"
#       - name: RESPONSE - Dispatch response event to INIT repository
#         run: |
#           curl -X POST https://api.github.com/repos/adroaldoneto/gha-dispatch-event-initiator/dispatches \
#           -H 'Accept: application/vnd.github.everest-preview+json' \
#           -u ${{ secrets.ACCESS_TOKEN }} \
#           --data '{"event_type": "Formula Workflow Response", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
#   unexpected-event:
#     runs-on: ubuntu-latest
#     if: github.event.action != 'Start Formula Workflow'
#     steps:
#       - name: Event Information
#         run: |
#           echo "Unexpected event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'" 

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.action == 'release'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: adroaldoneto/gha-dispatch-event-initiator
      - run: |
          ls
          echo "SHA: '${{ github.event.client_payload.sha }}'" 
          echo "SHA: '${{ github.event.client_payload.repository }}'" 
          echo "'${{ github.event.client_payload.ref }}'"
  invalid-event:
    runs-on: ubuntu-latest
    if: github.event.action != 'release'
    steps:
      - name: Event Information
        run: |
          echo "Unexpected event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'" 
