on: [repository_dispatch]

# jobs:
#   expected-event:
#     runs-on: ubuntu-latest
#     if: github.event.action == 'Start Formula Workflow'
#     steps:
#       - name: Event Information
#         run: |
#           echo "Event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'"
#       - name: RESPONSE - Dispatch response event to INIT repository
#         run: |
#           curl -X POST https://api.github.com/repos/adroaldoneto/gha-dispatch-event-initiator/dispatches \
#           -H 'Accept: application/vnd.github.everest-preview+json' \
#           -u ${{ secrets.ACCESS_TOKEN }} \
#           --data '{"event_type": "Formula Workflow Response", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
#   unexpected-event:
#     runs-on: ubuntu-latest
#     if: github.event.action != 'Start Formula Workflow'
#     steps:
#       - name: Event Information
#         run: |
#           echo "Unexpected event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'" 

jobs:

  extract_version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Extract branch tag
        id: version
        run: |
          echo "Branch Name: '${{ github.event.client_payload.ref_name }}'"
          REF=${{ github.event.client_payload.ref }}
          BRANCH=${REF##*/}
          VERSION="${BRANCH//release-/""}"
          echo $VERSION
          echo ::set-output name=version::$(echo $VERSION)

  build:
    runs-on: ubuntu-latest
    if: github.event.action == 'release'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: adroaldoneto/gha-dispatch-event-initiator
          ref: ${{ github.event.client_payload.ref }}
      - run: |
          ls
          echo "SHA: '${{ github.event.client_payload.sha }}'" 
          echo "SHA: '${{ github.event.client_payload.repository }}'" 
          echo "'${{ github.event.client_payload.ref }}'"
          echo "REF: '${{ github.ref }}'"
          echo "Event Repository Name: '${{ github.event.respository.name }}'"
          echo "Event Repository Owner: '${{ github.repository_owner }}'"
          
          
          sleep 20s

          curl -X POST https://api.github.com/repos/adroaldoneto/gha-dispatch-event-initiator/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{ secrets.ACCESS_TOKEN }} \
          --data '{"event_type": "success", "client_payload": { "repository": "'"$GITHUB_REPOSITORY"'" }}'
          
  invalid-event:
    runs-on: ubuntu-latest
    if: github.event.action != 'release'
    steps:
      - name: Event Information
        run: |
          echo "Unexpected event '${{ github.event.action }}' received from '${{ github.event.client_payload.repository }}'" 
